*, *::before, *::after{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
 position: relative;
 background-color: gray;
}  
.app {
  display: flex;
  align-items: center;
  height: 100vh;
  justify-content: space-evenly;
  max-width: 800px;
  margin: 0 auto;
}

#nextPiece {
  width: 120px; /* Adjust the width as desired */
  height: 120px; /* Adjust the height as desired */
  background-color: #EEE; /* Example background color */
  box-shadow: 0px 0px 0 #d66565;
  padding: 4px;
  border: 2px solid black;
}

canvas#tetris {
  background-color: #000;
  border: 2px solid #FFF;
}

 

@media (max-width: 600px) {
  canvas#tetris {
    width: 100vw;
    height: calc(100vw * 1.5);
  }
}

@media (min-width: 601px) {
  canvas#tetris {
    width: 350px;
    height: 700px;
  }
}

/* Add this at the end of your existing CSS code */

#startScreen, #endScreen {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  
  color: #fff;
  font-family: Arial, sans-serif;
  z-index: 999;
}

#startScreen button, #endScreen button {
  padding: 12px 24px;
  font-size: 18px;
  background-color: #fff;
  color: #000;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#startScreen button:hover, #endScreen button:hover {
  background-color: #f5f5f5;
}

#endScreen {
  display: none;
}